html, body {
    min-height: 100%;
    margin: 0;
  }
body {
display: flex;
flex-direction: column;    
background: linear-gradient(to bottom, #e0cfbb, #5d3e2a);
}
/* --------- */
button{
    width: 80px;
    margin: 12px;;
}
.book-card{
    background-color: white;
    border-radius: 6px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 12px;
}
.book-card-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    margin: 12px;
    width: 100%;
    gap: 20px;
}
.book-modal{
    position: fixed;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    background-color: #cc9f3c;
    width: 500px;
    padding: 20px;
    border-radius: 5px;
    z-index: 2; 
    display: none;
    flex-direction: column;
    gap:12px;
    /* border: 2px solid white; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);


}
.content-nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
#delete-btn{
    margin-left: auto;
}
#delete-btn{
    align-self: flex-end;
}
footer {
    flex-shrink: 0;
    position: fixed;
    bottom: 0;
    width: 100%;
        text-align: center;
}
hr{
width: 800px;
border-top: 4px solid white;
}
#login-btn{
margin: 12px;
}
.main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 36px;
}
.main-nav{
display: flex;
justify-content: end;
}
.modal-btns{
    display: flex;
}
#notes-textarea{
    height: 300px;
    /* width: 100%;  */
    padding: 8px; 
    margin: 0; 
    vertical-align: top; 
    resize: none; 
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
    z-index: 1; /* Place the overlay above other content */
    display: none; /* Initially hidden */
}
#page-title{
text-align: center;
/* min-height: 200vh; */
    /* font-family: 'Oswald', sans-serif; */
    /* font-family: 'Work Sans', sans-serif; */
    font-family: 'Barlow Semi Condensed', sans-serif;
    color: white;
    font-size: 10vmax;
    margin: 18px;
}
label[for="pages-read-input"] {
    font-weight: bold;
    color: #333;
}
#title-input{
    width: 200px;

}

#page-title{color:white}

#login-btn{background-color: #cc9f3c;}
#add-book-btn{background-color: #aa8c74}
#view-btn, #sort-btn{background-color: #cc9f3c;}
.book-card{background-color: #e0cfbb;}
label[for="pages-read-input"] {color: #333;
}
.book-modal{background-color: #e0cfbb}
#submit-btn{background-color: #cc9f3c}
#cancel-btn, #delete-btn {background-color: #9c5b36}