html, body {
    min-height: 100%;
    margin: 0;
}

#add-book-btn {
    background-color: #798478;
}

body {
    display: flex;
    flex-direction: column;    
    background-color: #EAE0CC;
    background: linear-gradient(to bottom, #C9ADA1, #EAE0CC, #fff7f7);
    margin: 0;
    font-family: 'Barlow Semi Condensed', sans-serif;
    color: #A0A083;
}

.book-card {
    background-color: #EAE0CC;
    color: #4D6A6D;
    padding: 10px;
    border: 1px solid #72A1E5;
    border-radius: 6px;
    margin-bottom: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.book-card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    margin: 12px;
    width: 100%;
    gap: 20px;
}

.book-modal {
    background-color: #EAE0CC;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    width: 500px;
    border-radius: 5px;
    z-index: 11;
    display: none;
    flex-direction: column;
    gap: 12px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

button {
    color: white;
    background-color: #A0A083;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin: 8px;
}

#cancel-btn {
    background-color: #798478;
}

.content-nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#delete-btn {
    margin-left: auto;
    align-self: flex-end;
    background-color: #C73866;
}

footer {
    flex-shrink: 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.header {
    background-color: #C9ADA1;
    padding: 20px;
    text-align: center;
}

hr {
    width: 800px;
    border-top: 4px solid white;
}

.main-nav {
    display: flex;
    justify-content: end;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 36px;
    flex-grow: 1;
}

.modal-btns {
    display: flex;
}

#notes-textarea {
    height: 300px;
    padding: 8px;
    margin: 0;
    vertical-align: top;
    resize: none;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 10;
    display: none;
}

#page-title {
    text-align: center;
    font-family: 'Barlow Semi Condensed', sans-serif;
    color: white;
    font-size: 10vmax;
    margin: 18px;
}

progress {
    background-color: #A0A083;
    border-radius: 10px;
}

progress::-webkit-progress-bar {
    background-color: #fffdfd;
    border-radius: 10px;
}

progress::-webkit-progress-value {
    background-color: #798478;
    border-radius: 10px;
}

#title-input {
    width: 200px;
}
