html,
body {
    min-height: 100%;
    margin: 0;
}

a {
    text-decoration: none;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #FCD3DE;
    background: linear-gradient(to bottom, #f7b1c3, #feccd9, #fff7f7);
    margin: 0;
    font-family: 'Barlow Semi Condensed',
        sans-serif;
    font-size: medium;
    color: #333;
}

.book-card {
    background-color: #FCD3DE;
    color:#8b9192;
    padding: 10px;
    border-radius: 6px;
    margin-bottom: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    align-items: center;
}

.book-card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    margin: 12px;
    width: 100%;
    gap: 20px;
}

.book-card-left,
.book-card-right {
    display: block;
    align-items: center;
    justify-items: center;
}

.book-modal {
    background-color: #FCD3DE;
    border: 1px solid #755952;
    padding: 32px;
    width: 400px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    z-index: 11;
    display: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.bookInfo-form {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

button {
    color: white;
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: medium;
    background-color: #72A1E5;
    border: none;
    height: 38px;
    gap: 6px;
    padding: 10px;
    cursor: pointer;
}

#cancel-btn {
    background-color: #2E382E;
}

.caret {
    font-size: xx-small;
}

.content-nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#delete-btn {
    margin-left: auto;
    align-self: flex-end;
    background-color: #C73866;
}

.dropdown {
    position: relative;
}

.dropdown:hover .dropdown-content {
    display: flex;
}

.dropdown-content {
    display: none;
    flex-direction: column;
    position: absolute;
}

.dropdown-content.hidden {
    display: none !important;
}

.dropdown:hover .dropdown-content:not(.hidden) {
    display: flex;
}

.filter-btn+.dropdown-content {
    right: 0px;
}

.error-message {
    color: #C73866;
    display: none;
    margin: 12px 0px 0px 0px;
}

.filter-options {
    display: flex;
    flex-direction: column;
}

footer {
    flex-shrink: 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.header {
    background-color: #43b6ba;
    padding: 20px;
    display: flex;
    text-align: center;
    justify-content: space-between;
}

hr {
    max-width: 800px;
    border: none;
    border-top: 4px solid #FCD3DE;
}

input {
    color: #656565;
    border: none;
    border-radius: 4px;
    height: 24px;
    font-family: 'Garamond', serif;
    font-size: medium;
}

label {
    color: #656565;
}

#login-btn {
    background-color: white;
    color: #43b6ba;
}

.main-nav {
    display: flex;
    justify-content: end;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 36px;
    flex-grow: 1;
}

.option {
    padding: 6px;
    background-color: white;
    color: #72A1E5;
}

.option:hover,
.option-selected {
    background-color: #96b9eb;
    color: white;
}

.options {
    display: flex;
}

.option-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 10;
    display: none;
}

p {
    margin: 12px;
    gap: 32px;
}

#page-title {
    text-align: center;
    font-family: 'Barlow Semi Condensed';
    color: white;
    font-size: min(11vw, 7rem);
    margin: 0px;
    flex: 1;
}

.pages-progress-div {
    display: flex;
    justify-content: space-between;
    gap: 32px;
}

#pages-input,
#pages-read-input {
    width: 80px;
}

progress {
    background-color: #dfd1c0;
    border-radius: 10px;
}

progress::-webkit-progress-bar {
    background-color: #ffffff;
    border-radius: 10px;
    /* border: solid 2px #e9ccd4; */
}

progress::-webkit-progress-value {
    background-color: #ee9cd4;
    border-radius: 10px;
}

.progress-done::-webkit-progress-value {
    background-color: #9799e5;
}

.progress-circle {
    background-color: #ee9cd4;
    width: 20px;
    height: 20px;
    border-radius: 32px;
    display: none;
}

.progress-circle-done {
    background-color: #9799e5;
}

.progress-circle-toRead {
    background-color: #ff9393;
}

.radio-labels {
    display: flex;
    align-items: center;
}

.sort.option {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 6px;
}

textarea {
    height: 200px;
    border: none;
    border-radius: 4px;
    padding: 8px;
    margin: 0;
    vertical-align: top;
    resize: none;
    font-family: 'Garamond', serif;
    font-size: medium;
}

#title-input {
    width: 88%;
}

#video-background {
    display: none;
}

@media screen and (max-width: 585px) {
    .book-modal {
        width: 250px;
    }

    #title-input {
        width: 99%;
    }

    #author-input {
        width: 99%;
    }
}