html,
body {
    min-height: 100%;
    margin: 0;
}

a {
    text-decoration: none;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #f7ece6;
    margin: 0;
    font-family: 'Garamond', serif;
    font-size: medium;
    color: #322f2c;
}

.book-card {
    background-color: #e9ddd4;
    color: #3f3a37;
    padding: 10px;
    border-radius: 6px;
    margin-bottom: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    align-items: center;
}

.book-card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    margin: 12px;
    width: 100%;
    gap: 20px;
}

.book-card-left,
.book-card-right {
    display: block;
    align-items: center;
    justify-items: center;
}

.book-modal {
    background-color: #dfd1c0;
    border: 1px solid #755952;
    padding: 32px;
    width: 400px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    z-index: 11;
    display: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.bookInfo-form {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

button {
    color: #fff;
    font-family: 'Garamond', serif;
    font-size: medium;
    background-color: #6c5951;
    border: none;
    height: 38px;
    gap: 6px;
    padding: 10px;
    cursor: pointer;
}

#cancel-btn {
    background-color: #524c49;
}

.caret {
    font-size: xx-small;
}

.content-nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#delete-btn {
    margin-left: auto;
    align-self: flex-end;
    background-color: #774343;
}

.dropdown {
    position: relative;
}

.dropdown:hover .dropdown-content {
    display: flex;
}

.dropdown-content {
    display: none;
    flex-direction: column;
    position: absolute;
}

.dropdown-content.hidden {
    display: none !important;
}

.dropdown:hover .dropdown-content:not(.hidden) {
    display: flex;
}

.filter-btn+.dropdown-content {
    right: 0px;
}

.error{
    border: 1.5px solid #ff5656;
    background-color: rgb(255, 229, 229);
    /* display: none; */
}

.error-message{
    margin: 0px !important;
}

#title-error,#author-error,#pages-error,#pagesRead-error {
    display: none;
    background-color: #ff5656;
    color: white;
    font-size: .8rem;
    margin: 0px;
    padding: 4px 6px 4px 6px;
    border-radius: 0px 0px 8px 8px;
}

#pages-error,
#pagesRead-error {
    width: 74px;
}

.filter-options {
    display: flex;
    flex-direction: column;
}

footer {
    flex-shrink: 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.header {
    background-color: #625353;
    padding: 20px;
    display: flex;
    text-align: center;
    justify-content: space-between;
}

hr {
    max-width: 800px;
    border: none;
    border-top: 4px solid #625353;
}

input {
    color: #3f3a37;
    border: none;
    /* border-radius: 4px; */
    height: 24px;
    font-family: 'Garamond', serif;
    font-size: medium;
}

.input-container {
    display: flex;
    flex-direction: column;
    position: relative;
}

label {
    color: #3f3a37;
}

#login-btn {
    background-color: #46413e;
    ;
    color: white;
}

.main-nav {
    display: flex;
    justify-content: end;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 36px;
    flex-grow: 1;
}

.option {
    padding: 6px;
    background-color: #dfd1c0;
    color: #3f3a37;
}

.option:hover,
.option-selected {
    background-color: #c0b5a8;
    color: #3f3a37;
}

.options {
    display: flex;
}

.option-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 10;
    display: none;
}

/* p {
    margin: 0px;
} */

#page-title {
    text-align: center;
    font-family: 'Garamond', serif;
    color: #3c3734;
    font-size: min(11vw, 7rem);
    margin: 0px;
    flex: 1;
}

.pages-progress-div {
    display: flex;
    justify-content: space-between;
    gap: 32px;
}

#pages-input,
#pages-read-input {
    width: 80px;
}

progress {
    background-color: #dfd1c0;
    border-radius: 10px;
}

progress::-webkit-progress-bar {
    background-color: #ffffff;
    border-radius: 10px;
    border: solid 2px #e2d8cf;
}

progress::-webkit-progress-value {
    background-color: #b39c80;
    border-radius: 10px;
}

.progress-done::-webkit-progress-value {
    background-color: #778d6a;
}

.progress-circle {
    background-color: #b39c80;
    width: 20px;
    height: 20px;
    border-radius: 32px;
    display: none;
}

.progress-circle-done {
    background-color: #778d6a;
}

.progress-circle-toRead {
    background-color: #ff9393;
}

.radio-labels {
    display: flex;
    align-items: center;
}

.sort.option {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 6px;
}

#submit-btn {
    background-color: #47583c;
}

textarea {
    height: 200px;
    border: none;
    border-radius: 4px;
    padding: 8px;
    margin: 0;
    vertical-align: top;
    resize: none;
    font-family: 'Garamond', serif;
    font-size: medium;
}


#video-background {
    display: none;
}

@media screen and (max-width: 585px) {
    .book-modal {
        width: 250px;
    }
}